/* Global */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* scroll-snap-type: y mandatory; */
    scroll-behavior: smooth;
}

body {
    position: relative;
    scrollbar-width: thin;
    scrollbar-color: transparent transparent;
    overflow-y: scroll;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(122, 119, 119);
}

.scroll-watcher {
    position: fixed;
    width: 100%;
    height: 5px;
    background-color: #0a3049;
    bottom: 0;
    z-index: 20;
    scale: 0 1;
    animation: scrollwatcher linear;
    animation-timeline: scroll();

}

/* header_about */

#header_about {
    /* background: linear-gradient(45deg, #208872, #717485, #94aec9, #0a3049); */
    /* background: linear-gradient(45deg, #ffffff, #481E14, #9B3922, #F2613F); */
    /* background: linear-gradient(45deg, #F5F7F8, #F4CE14, #495E57, #45474B); */
    /* background: linear-gradient(45deg, #222831, #393E46, #00ADB5, #EEEEEE); */
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    /* background-size: 400% 400%;
    animation: gradientAnimation 2s ease infinite; */
    overflow: hidden;
    scroll-snap-align: center;
    z-index: 50 !important;
    position: relative;
}

/* Header */

#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    min-width: 100%;
    overflow: hidden;
    height: 20vh;
    animation: fade-up 1.35s;
}


.logo {
    width: 20%;
    height: 100%;
    background-image: url('./img/logo.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.list_container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 40%;
    height: 100%;
    margin-top: 4px;
}

.list {
    list-style-type: none;
    list-style: none;

}

.list_link {
    text-decoration: none;
    color: #ffffff;
    font-family: robotoblack;
    font-size: 25px;
    background: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
    transition: text-shadow 0.2s, border-bottom 0.2s, color 0.5s;
}

.list_link:hover {
    border-bottom: solid 3px #fff;
    text-shadow: 6px 6px 8px rgba(0, 0, 0, 0.7);
}




/* Sections */

/* Intro */
.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-width: 100%;
    width: 100%;
    height: 80vh;
    position: relative;
}

.intro_wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.self {
    margin-bottom: 21px;
    border-radius: 13px;
    width: 30%;
}

.intro_up {
    display: flex;
}

.intro_text-h {
    margin-right: 5px;
    font-size: 2.8rem;
    font-family: roboto;
    /* text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4); */
    text-shadow: 61px 39px 7px rgba(0, 0, 0, 0.3);
    animation: fade-up 1s;
    color: #3a5bb9;
}

.ab-clr {
    background: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}

.down-arrow-intro {
    width: 30px;
    height: 30px;
    margin-top: 30px;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
}

.gotoabout {
    position: absolute;
    bottom: 1.8%;
    fill: #3a5bb9 !important;
}

.goabout:hover {
    fill: #0e1b3d;
}

/* About */

#about {
    position: relative;
    scroll-snap-align: center;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: fade-out linear;
    animation-timeline: view();
    animation-range: exit;
    overflow: hidden;
    /* background: linear-gradient(180deg, #222831, #393E46, #00ADB5, #EEEEEE); */
    /* background-color: #e9e9e9; */
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.about-wrapper {
    background-color: #f3f3f3;
    border-radius: 5px;
    width: 80%;
    height: 75vh;
    overflow-y: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

.about-title {
    width: 100%;
    border-bottom: solid 2px #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: futura;
    font-size: 2.5rem;
    height: 20%;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
}

.about-text-wrapper {
    height: 80%;
    padding: 20px;
    margin-top: 5px;
}

.abtw {
    font-size: 2rem;
    font-family: futura;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.2);
}


/* SKILLS */




#skills {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    /* background-color: #e9e9e9; */
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
    position: relative;
}


.skills_wrapper {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 85%;
    height: 85%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inoutwrap {
    width: 89%;
    height: 83%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.inwrap {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

.out {
    display: none;
    opacity: 0;
    transition: opacity 0.3s ease;
    /* Smooth transition */
}

.inwrap .stack:hover+.outwrap .out {
    display: block;
    opacity: 1;
}

.stack {
    height: 33%;
    width: 100%;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    font-family: sans-serif;
    cursor: pointer;
    text-align: center;
}

.outwrap {
    height: 100%;
    width: 45%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.stack.hovered {
    background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%);
    color: white;
    box-shadow: 8px 16px 8px rgba(0, 0, 0, 0.2);
}


.singlecontfront {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 19.2%;
    width: 92%;
    box-shadow: 21px 8px 8px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    transition-property: box-shadow;
    transition-duration: 0.3s;
}

.singlecontfront:hover {
    box-shadow: 41px 8px 8px rgb(219, 134, 23);
    background: linear-gradient(109.6deg, rgb(0 0 0) 11.2%, rgb(255, 158, 27) 91.1%);
    color: #f9f9f9;
}

.frontcontclassimg {
    width: 100px;
    height: 100%;
    border-radius: 5px;
}

.textcontsingle {
    margin-left: 10px;
    font-size: 1.563rem;
    font-family: roboto;
    margin-right: 10px;
    text-align: center;
}


.wrapoutput {
    width: 100%;
    height: 100%;
}

.containdisplaysk {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
}



/* PROJECTS */



#projects {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    background-color: #e9e9e9;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.projects_wrapper {
    width: 90%;
    height: 90%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    overflow: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 15px;
}

.project {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 49%;
    height: 60%;
    margin-bottom: 10px;

}


.project_picture {
    background-image: url('./img/projectimg/tbsprjct.PNG');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    width: 100%;
    height: 60%;
}

.project_description {
    width: 100%;
    height: 40%;

    position: relative;
    display: flex;
    padding: 20px;
    justify-content: center;
}

.project_full_description {
    position: absolute;
    left: 3%;
    bottom: 15px;
    font-family: roboto;
    border: solid 1px;
    padding: 5px;
    cursor: pointer;
}

.project_small_description {
    font-family: roboto;
}

.link_project_web {
    position: absolute;
    right: 5%;
    bottom: 15px;
    font-family: sans-serif;
    text-decoration: none;
    border: solid 1px;
    padding: 5px;
}

.link_project_source {
    position: absolute;
    right: 16.5%;
    bottom: 15px;
    font-family: sans-serif;
    text-decoration: none;
    border: solid 1px;
    padding: 5px;
}

/* CONTACT */

#contact {
    height: 100vh;
    width: 100%;
    scroll-snap-align: center;
    /* background: linear-gradient(to right, #434343 0%, black 100%); */
    background-color: rgb(19, 30, 37);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    overflow: hidden;
}


.form_container {
    height: 80%;
    width: 50%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    overflow: auto;
    background: radial-gradient(circle at -8.9% 51.2%, rgb(255, 124, 0) 0%, rgb(255, 124, 0) 15.9%, rgb(255, 163, 77) 15.9%, rgb(255, 163, 77) 24.4%, rgb(19, 30, 37) 24.5%, rgb(19, 30, 37) 66%);
}

.formdv {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

input {
    width: 50%;
    height: 10%;
    border: none;
    border-inline: none;
    margin: 1.5%;
    outline: #0a3049 solid 0.5px;
    padding-left: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: large;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(to right, #434343 0%, black 100%); */
    background-color: #434343;
    color: #ffffff;
    font-family: robotoblack;
    border-radius: 2px;
}

textarea {
    border-radius: 3px;
    overflow: auto;
    width: 60%;
    outline: none;
    padding: 10px;
    margin-bottom: 20px;
    font-family: sans-serif;
    font-size: medium;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    /* background: linear-gradient(to right, #434343 0%, rgb(102, 96, 96) 100%); */
    background-color: #434343;
    color: #ffffff;
    font-family: roboto;
}

.contact_info {
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 25%;
    background-color: #e9e1e1;
    height: 75%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}

.contact_info_header {
    font-family: roboto;
    font-size: 1.35rem;
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}

.location {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    flex-direction: row-reverse;
    font-family: roboto;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}


.social_links {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;
    flex-direction: column;
    font-family: roboto;
}






.intouch {
    width: 100%;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: roboto;
    height: 15%;
    color: #fff;
}

.submitform {
    width: 17%;
    height: 40px;
    font-family: roboto;
    font-size: 1.2rem;
    background: radial-gradient(590px at 8.2% 13.8%, rgb(18, 35, 60) 0%, rgb(187, 187, 187) 90%);
    color: #f9f9f9;
    cursor: pointer;
    border-radius: 3px;
    outline: none;
    border: none;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.5);
    transition: all 1s ease-in;
}

.submitform:hover {
    background: radial-gradient(590px at 8.2% 13.8%, rgb(105, 122, 148) 0%, rgb(228, 228, 228) 90%);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 1.2);
}

#result {
    color: rgb(21, 145, 21);
    margin-bottom: 5px;
    font-family: sans-serif;
}


.social_links_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: flex-end;
    flex-direction: row-reverse;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease-in;
}

.social_links_container:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.5);
}

.contain_link:hover {
    background: radial-gradient(circle at 18.7% 37.8%, rgb(250, 250, 250) 0%, rgb(225, 234, 238) 90%);
}

.gitlogo {
    height: 60%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/social/github-mark.png');
}

.linkedinlogo {
    height: 60%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/social/LI-In-Bug.png');
}

.maillogo {
    height: 60%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/social/email.png');
}

.phonelogo {
    height: 60%;
    width: 25%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    background-image: url('./img/social/phone.png');
}

.unlink_container {
    width: 100%;
    height: 20%;
    transition-property: color;
    transition-duration: 0s;
}

.unlink_container:hover {
    background: linear-gradient(69.9deg, rgb(76, 79, 106) 3.2%, rgb(118, 124, 163) 97.6%);
    color: #1398aa;
}

.scrolled-class {
    opacity: 1 !important;
    z-index: 30 !important;
}

.nav {
    height: 51px;
    width: 32.3%;
    top: 0;
    left: 0;
    position: fixed;
    opacity: 0;
    transition: opacity 0.5s ease;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.left-nav {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.navcolor {
    color: #00ADB5;
}

.contain_link {
    width: 100%;
    height: 20%;
    text-decoration: none;
}

























/* keyframes */

@keyframes fade-out {
    to {
        opacity: 0;
    }
}

@keyframes fade-up {
    0% {
        opacity: 0;
        transform: translate(-30px) scale(0.9);
    }


    100% {
        opacity: 1;
        transform: translate(0px) scale(1);
    }
}

@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

@keyframes scrollwatcher {
    to {
        scale: 1 1;
    }
}

@keyframes textShine {
    0% {
        background-position: 0% 50%;
    }

    100% {
        background-position: 100% 50%;
    }
}



/* Fonts */

@font-face {
    font-family: robotobold;
    src: url(./fonts/Roboto-Bold.ttf);
}

@font-face {
    font-family: robotoblack;
    src: url(./fonts/Roboto-Black.ttf);
}

@font-face {
    font-family: latoreg;
    src: url(./fonts/Lato-Regular.ttf);
}

@font-face {
    font-family: latobold;
    src: url(./fonts/Lato-Bold.ttf);
}

@font-face {
    font-family: futura;
    src: url(./fonts/FUTURA65MEDIUM.TTF);
}

@font-face {
    font-family: roboto;
    src: url(./fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: about;
    src: url(./fonts/Jersey10-Regular.ttf);
}

@font-face {
    font-family: bebas;
    src: url(./fonts/BebasNeue-Regular.ttf);
}



#circle {
    width: 15px;
    height: 15px;
    background-color: #beb421;
    border-radius: 50%;
    position: absolute;
    transition: background-color 0.3s ease-in-out, transform 0.3s ease-in-out;
    pointer-events: none;
    z-index: 10000;
    /* Allows mouse events to pass through the circle */
}

#circle:hover {
    transform: scale(1.2);
}

.modal {
    width: 80%;
    height: 90%;
    display: none;
    opacity: 0;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: 1px solid #ccc;
    z-index: 1000;
    transition: opacity 0.5s ease
}

.modal_wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.modal_image {
    width: 40%;
    height: 100%;
    background-image: url('./img/projectimg/modalimg/prj1.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.modal_description {
    padding: 15px;
    width: 60%;
    background-color: #ffffff;
    height: 100%;
    font-family: roboto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(8px);
    z-index: 999;
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

.modal-open {
    overflow: hidden;
}






/* MOBILE/1024 */

.ham {
    display: none;
}

/* intro */

@media screen and (max-width: 1024px) {
    .list_container {
        display: none;
    }

    .ham {
        display: block;
    }
}

@media screen and (max-width: 910px) {
    .intro_text-h {
        font-size: 2.5rem;
    }
}

@media screen and (max-width: 810px) {
    .intro_text-h {
        font-size: 2.2rem;
    }
}

@media screen and (max-width: 710px) {
    .intro_text-h {
        font-size: 1.9rem;
    }
}

@media screen and (max-width: 615px) {
    .intro_text-h {
        font-size: 1.6rem;
    }
}

@media screen and (max-width: 520px) {
    .intro_text-h {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 425px) {
    .intro_text-h {
        font-size: 1rem;
    }
}

@media screen and (max-width: 340px) {
    .intro_text-h {
        font-size: 0.9rem;
    }
}


/* Skills */


@media screen and (max-width: 1024px) {
    .stack {
        font-size: 2.6rem;
    }
}

@media screen and (max-width: 768px) {
    .stack {
        font-size: 2.2rem;
    }

    .textcontsingle {
        font-size: 1.4rem;
    }
}

/* contact mobile */

@media screen and (max-width: 1000px) {
    .form_container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .intouch {
        height: 9.5%;
        align-items: flex-start;
    }
}

@media screen and (max-width: 900px) {
    input {
        width: 70%;
    }

    textarea {
        width: 70%;
    }
}

@media screen and (max-width: 900px) {
    input {
        font-size: medium;
    }
}

@media screen and (max-width: 600px) {
    input {
        width: 85%;
    }

    textarea {
        width: 85%;
    }
}

@media screen and (max-width: 450px) {
    .intouch {
        font-size: 1.3rem;
    }
}

@media screen and (max-width: 320px) {
    input {
        font-size: small;
    }
}

@media screen and (max-width: 300px) {
    input {
        font-size: smaller;
        width: 100%;
    }

    textarea {
        font-size: small;
        width: 100%;
    }

}

@media screen and (max-height: 500px) {
    .form_container {
        width: 55%;
    }
}




.mobile_nav {
    position: absolute;
    top: 0;
    right: 0;
    height: 100%;
    width: 60%;
    background-color: #ffffff;
    opacity: 0;
    visibility: hidden;
    z-index: 39;
    transition: opacity 0.5s ease, visibility 0s 2s;
    padding: 20px;
}

.mobile_nav_is-active {
    visibility: visible;
    opacity: 1;
    transition: opacity 0.5s ease, visibility 0s;
}

.mobile_nav_list_item {
    width: 60%;
    height: 13%;
    border: solid 2px;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 5%;
}

.mobile_nav_list_item_link {
    background: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
    text-decoration: none;
    font-family: roboto;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}



.mobile_nav_list_container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border: solid 2px;

}


.intro_overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(8px);
    opacity: 0;
    transition: opacity 0.5s;
    pointer-events: none;
    z-index: 1;
    overflow-y: auto;
}

.intro-active-overlay {
    opacity: 1 !important;
    z-index: 20;
    pointer-events: auto;
    overflow-y: hidden;
    position: fixed;
}

.no-scroll {
    overflow: hidden;
}




.ham8 .top {
    stroke-dasharray: 40 160;
}

.ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
}

.ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
}

.ham8.is-active .top {
    stroke-dashoffset: -64px;
}

.ham8.is-active .middle {
    /* stroke-dashoffset: -20px; */
    transform: rotate(90deg);
}

.ham8.is-active .bottom {
    stroke-dashoffset: -64px;
}

.ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
    z-index: 999;
    margin-right: 20px;
}

.hamRotate.is-active {
    transform: rotate(45deg);
}

.hamRotate180.is-active {
    transform: rotate(180deg);
}

.lines {
    fill: none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke: #000;
    stroke-width: 5.5;
    stroke-linecap: round;
    fill: linear-gradient(to right,
            #7953cd 20%,
            #00affa 30%,
            #0190cd 70%,
            #764ada 80%);
    background-size: 500% auto;
    animation: textShine 5s ease-in-out infinite alternate;
}



button {
    position: relative;
    padding: 12px 35px;
    background: linear-gradient(to right, #434343 0%, black 100%);
    font-size: 17px;
    font-weight: 500;
    font-family: roboto;
    color: #ffffff;
    border: 3px solid var(--color);
    border-radius: 8px;
    box-shadow: 0 0 0 #fec1958c;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.star-1 {
    position: absolute;
    top: 20%;
    left: 20%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
    position: absolute;
    top: 45%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
    position: absolute;
    top: 40%;
    left: 40%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
    position: absolute;
    top: 20%;
    left: 40%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
    position: absolute;
    top: 25%;
    left: 45%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
    position: absolute;
    top: 5%;
    left: 50%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 0 #fffdef);
    z-index: -5;
    transition: all .8s ease;
}

button:hover {
    background: transparent;
    color: #fff;
    box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
    position: absolute;
    top: -80%;
    left: -30%;
    width: 25px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-2 {
    position: absolute;
    top: -25%;
    left: 10%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-3 {
    position: absolute;
    top: 55%;
    left: 25%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-4 {
    position: absolute;
    top: 30%;
    left: 80%;
    width: 8px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-5 {
    position: absolute;
    top: 25%;
    left: 115%;
    width: 15px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

button:hover .star-6 {
    position: absolute;
    top: 5%;
    left: 60%;
    width: 5px;
    height: auto;
    filter: drop-shadow(0 0 10px #fffdef);
    z-index: 2;
}

.fil0 {
    fill: #c41616
}

